
.reveal section code {
    font-size: 70%;
    vertical-align: middle;
}

.reveal section img {
    border: 0;
    background: transparent;
    box-shadow: none;
}

.reveal section small {
    margin-top: 50px;
}

.reveal *[data-svg-inline],
.reveal *[data-svg-iframe] {
    display: inline-block;
}
/* remove position absolute on crocodoc svg */
.reveal *[data-svg-inline] svg,
.reveal *[data-svg-iframe] svg {
    position: static;
}

div.logos {
    margin-top: 50px;
}

.logos img {
    height: 300px;
    width: 300px;
    vertical-align: middle;
}

.demo-viewer {
    height: 600px
}
.demo-viewer .crocodoc-page {
    padding: 20px 100px;
}
.demo-viewer {
    background: black;
}

.crocodoc-viewer {
    padding: 0 !important;
}
section[data-demo="iframe-vs-inline"] .demo-container {
    height: 574px;
}
section[data-demo="iframe-vs-inline"] .demo-container div {
    width: 450px !important;
    height: 574px !important;
    margin-right: 10px;
}
section[data-demo="iframe-vs-inline"] .demo-container div * {
    width: 450px !important;
    height: 574px !important;
    background: white;
}
section[data-demo="iframe-vs-inline"] .demo-container iframe {
    max-width: none;
    max-height: none;
}

.strikethrough {
    text-decoration: line-through;
}