
.reveal section code {
    font-size: 100%;
    vertical-align: middle;
}

.reveal section img {
    border: 0;
    background: transparent;
    box-shadow: none;
}

.reveal section small {
    margin-top: 50px;
}

.reveal section li {
    margin: 0.4em 0;
}

.reveal section iframe,
.reveal section img {
    max-width: none;
    max-height: none;
}

.crocodoc-viewer iframe {
    pointer-events: none;
}

.reveal *[data-svg-inline],
.reveal *[data-svg-iframe] {
    display: inline-block;
}
/* remove position absolute on crocodoc svg */
.reveal *[data-svg-inline] svg,
.reveal *[data-svg-iframe] svg {
    position: static;
}

div.logos {
    margin-top: 50px;
}

.logos img {
    height: 300px;
    width: 300px;
    vertical-align: middle;
}

.demo-viewer {
    height: 600px;
}
.demo-viewer .crocodoc-page {
    padding: 20px 40px;
}

.crocodoc-viewer {
    padding: 0 !important;
}

.demo-container {
    height: 500px;
    width: 700px;
    text-align: center;
}
.demo-container.small {
    height: 300px;
    width: 100%;
}
.demo-container.small iframe,
.demo-container.small img {
    height: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}

section[data-demo="iframe-vs-inline"] .demo-container {
    height: 574px;
    width: auto;
}
section[data-demo="iframe-vs-inline"] .demo-container div {
    width: 450px !important;
    height: 574px !important;
    margin-right: 10px;
}
section[data-demo="iframe-vs-inline"] .demo-container div * {
    width: 450px !important;
    height: 574px !important;
    background: white;
}

section.proxy-example {
    height: 700px;
}
section.proxy-example img {
    height: 380px;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 0;
}
.footer a {
    display: block;
    position: absolute;
    font-size: 50%;
    padding: 0.5em;
}
.footer a:first-child {
    left: 0;
    bottom: 0;
}
.footer a:last-child {
    right: 0;
    bottom: 0;
}